* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0%;
    background-color: #121416;
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

header {
    max-height: 110px;
    background-color: #17202A;
}

.logo {
    color: white;
    padding: 10px 0px 10px 30px;
}

.logo h1 {
    font-size: 40px;
    text-transform: uppercase;
}



/* -------------MENU-------------- */
.toggle-menu {
    position: absolute;
    width: 40px;
    top: 1.2rem;
    right: 1.5rem;
    cursor: pointer;
    filter: invert(1);
    z-index: 1;
}

.main-menu {
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1C2833;
    transition: transform 0.2s;
    transform: translateY(-130%);
}

.main-menu--show {
    transform: translateY(0);
}

.toggle-menu__checkbox:checked + .main-menu {
    transform: translateY(0);
}

.toggle-menu__checkbox {
    display: none;
}

.main-menu__item {
    padding: 1em 6.7em;
}

.main-menu__link {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.main-menu__item:hover {
    background-color: #1C2833;
}



/* ---------PAGINA HOME---------- */

main {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2, h3 {
    text-align: center;
    color: white;
}

#phome {
    padding: 10px 20px;
    font-size: 15px;
    color: white;
}

.fotogamer {
    border: 2px solid white;
    border-radius: 8px;
    margin: 10px 10px 70px 10px;
}



/* -------FORMHOME------- */

.form-control {
    background-color: black;
}

.form-floating {
    font-size: 14px;
    color: white;
    border-radius: 5px;
    padding: 2px 0px 10px 0px;

}

.bonotes {
    display: flex;
    flex-direction: row;
}

.btn {
    margin: 0px 10px 40px 10px;
}



/* --------FOOTER-------- */

footer {
    background-color: #17202A;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.iconfooter a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

footer h6 {
    color: white;
    font-size: 12px;
}

/* --------------------PAGINA NOTICIAS------------------------- */
.card {
    width: 320px;
    height: 320px;
    background-color: white;
    box-shadow: 0 5px 10px black;
    padding:5px;
    margin: 10px;
    border-radius: 15px;

    display: flex;
}

.content {
    display: flex;
}

.card .card-img {
    width: 30%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.card .card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text {
    width: 80%;
    padding: 10px;
}

/* ---------PAGINA ESPORTS---------- */

.grid-esports {
    display: grid;
    grid-template-columns: repeat(12, 95px);
    grid-template-rows: repeat(7, 110px);
    grid-auto-rows: 200px;
    gap: 20px;
    padding: 20px;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: stretch;

    background-color: black;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    color: white;
    font-size: 18px;
    border: solid 1px rgb(0, 0, 0);
}

.item1 {
    grid-column: 2/10;
    grid-row: 1/5;
}

.item2 {
    grid-column: 10/12;
    grid-row: 1/8;
}

.item3 {
    grid-column: 2/4;
    grid-row: 5/8;
}

.item4 {
    grid-column: 4/6;
    grid-row: 5/8;
}

.item5 {
    grid-column: 6/8;
    grid-row: 5/8;
}

.item6 {
    grid-column: 8/10;
    grid-row: 5/8;
}



.item6:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.item4:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.item3:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.item5:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}




/* -----------------PAGINA BLOG------------------ */
.main {
    display: grid;
    background-color: #121416;
    grid-template-columns: 600px auto 200px;
    grid-template-rows: 150px 120px auto;
    grid-template-areas: 
    "tituloblog fotosteam aside"
    "mainh3 fotosteam aside"
    "sectionblog sectioblog aside";
}

.tituloblog {
    grid-area: tituloblog;

    font-size: 20px;
    padding: 40px 20px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}


.mainh3 {
    grid-area: mainh3;
    background-color: #121416;
    font-size: 28px;
    margin-left: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    list-style: none;
}

.mainh3 h4 {
    font-size: 14px;
    color: white;
}

.fotosteam {
    grid-area: fotosteam;
    background-color: #121416;
    padding-top: 50px;
    padding-left: 100px;
    margin-top: 50px;
}

.sectionblog {
    grid-area: sectionblog;
    color: white;
    background-color: #121416;
    padding: 30px 20px;
    margin-left: 100px;
}

.aside {
    grid-area: aside;
    background-color: gray;
    font-size: 24px;
    border-left: 2px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.fotosteamlogo {
    border-radius: 5px;
    background-color: black;
    padding: 10px;
    
    height: 240px;
}

.sectionblog h2{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.mainh3 a{
    background-color: #121416;
    border-radius: 5px;
    padding: 4px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
}

.mainh3 a:hover {
    background-color: #2F7DCD;
    transition: 0.5s;
}




/* ---------------PAGINA PERFIL------------- */
.mainperfil{
    display: grid;
    grid-template-columns: 400px 900px ;
    grid-template-rows: 250px 300px 300px ;
    grid-template-areas: 
    "bannerperfil bannerperfil"
    "juegofavorito datos"
    "otrosjuegos experiencia";
}

.bannerperfil {
    display: flex;
    grid-area: bannerperfil;
    background-color: gray;
    color: black;
    border-radius: 10px;
    margin: 20px 0px;

    justify-content: center;
    align-items: center;
}

.juegofavorito {
    grid-area: juegofavorito;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.juegofavorito img{
    height: 200px;
}

.otrosjuegos h3 {
    grid-area: otrosjuegos;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
}

.datos {
    grid-area: datos;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
}

.experiencia {
    grid-area: experiencia;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
}




/* ---------FIRTS MOBILE---------- */

@media (min-width: 500px) {
    .main-menu {
        position: relative;
        top: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #1C2833;
    }
    .toggle-menu {
        display: none;
    }

    .main-menu__item {
        padding: 5px 15px;
        gap: 5px;
    }


    .main-menu__item:hover {
        transition: 0.4s;
        background-color: #121416;
        color: white;
    }

    main {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(1fr, 5);
        grid-template-rows: repeat(1fr, 10);
   
    }

    h2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    h3 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    p {
        grid-column: 2/3;
        grid-row: 3/4;
        padding: 10px 100px;
        font-size: 15px;
    }
    
    .fotogamer {
        grid-column: 2/3;
        grid-row: 4/6;
        border: none;
        border-radius: 8px;
        margin: 15px 80px 70px 80px;
    }

    .form-floating {
        grid-column: 2/4;
        grid-row: 6/8;
    }

    .botones {
        grid-column:2/5;
        grid-row: 8/9;
    }


    .card {
        width: 500px;
        height: 445px;
        padding:5px;
        margin: 10px;
    
    }
}