/* -----------------PAGINA BLOG------------------ */
.main {
    display: grid;
    background-color: #121416;
    grid-template-columns: 600px auto 200px;
    grid-template-rows: 150px 120px auto;
    grid-template-areas: 
    "tituloblog fotosteam aside"
    "mainh3 fotosteam aside"
    "sectionblog sectioblog aside";
}

.tituloblog {
    grid-area: tituloblog;

    font-size: 20px;
    padding: 40px 20px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}


.mainh3 {
    grid-area: mainh3;
    background-color: #121416;
    font-size: 28px;
    margin-left: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    list-style: none;
}

.mainh3 h4 {
    font-size: 14px;
    color: white;
}

.fotosteam {
    grid-area: fotosteam;
    background-color: #121416;
    padding-top: 50px;
    padding-left: 100px;
    margin-top: 50px;
}

.sectionblog {
    grid-area: sectionblog;
    color: white;
    background-color: #121416;
    padding: 30px 20px;
    margin-left: 100px;
}

.aside {
    grid-area: aside;
    background-color: gray;
    font-size: 24px;
    border-left: 2px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.fotosteamlogo {
    border-radius: 5px;
    background-color: black;
    padding: 10px;
    
    height: 240px;
}

.sectionblog h2{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.mainh3 a{
    background-color: #121416;
    border-radius: 5px;
    padding: 4px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
}

.mainh3 a:hover {
    background-color: #2F7DCD;
    transition: 0.5s;
}


